@charset "utf-8";
/*----------------------------****リセット*****-----------------------------------------*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
     margin: 0;
     padding: 0;
     border: 0;
     outline: 0;
     font-size: 100%;
     vertical-align: baseline;
     background: transparent;
}
body {
     line-height: 1;
}
ol, ul {
     list-style: none;
}
blockquote, q {
     quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
     content: '';
     content: none;
}

/* remember to define focus styles! */
:focus {
     outline: 0;
}

/* remember to highlight inserts somehow! */
ins {
     text-decoration: none;
}
del {
     text-decoration: line-through;
}

/* tables still need 'cellspacing=&quot;0&quot;' in the markup */
table {
     border-collapse: collapse;
     border-spacing: 0;
}


/*-----------------------------------  使い回すcss ------------------------------------*/
.fw_b{
	font-weight:bold;
}
.km{
	border-radius:5px;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	-ms-border-radius:5px;
	-o-border-radius:5px;
}
.gray_line{
	margin:0;
	border-top:1px solid lightgray;
	border-bottom:none;
}
.gray_line_item {
	margin-top: 0;
	border-top:1px solid #FFD07C;
	border-bottom:none;
	margin-bottom: 16px;
}


.clear{
	clear:both;
}
.main{
	width:290px;
	margin:auto;
}


/*------------------------------------------------------------------------------------------*/

body{
	font-family: "ＭＳ Ｐゴシック","ヒラギノ角ゴ Pro W3","Hiragino Kaku Gothic Pro","メイリオ","Meiryo",Osaka,verdana,arial,clean,sans-serif;
/*	background-image:url(../images/background.png);
*/	background-color:black;
	font-size:14px;
}
a:link{
	text-decoration:none; /*-- 未訪問のリンク --*/
	color:#444;
}
a:visited{
	color: #444;  /*-- 訪問済みのリンク --*/
}
a:active {
	text-decoration:none; /*-- 選択中のリンク --*/
}

#content {
    padding: 0 0 0 0; /*-- 固定ナビ(ヘッダー)分 各ページ上部に空白 --*/
}





/*----------------------------- ヘッダー -----------------------------*/
/*背景画像の場合
.head{
	width:100%;
	background-image:url(../images/top/background_header_s.png);
	background-size:cover;
}
*/

.head{
	width:100%;
	background-color:rgb(254, 225, 0);
	background-size:cover;
}


.head_title{
	width:100%;
	position:relative;
}


#prev{
	position: absolute;
	z-index: 100;
	top: 6%;
	left:1.56%;
	width: 11.26%;
}

#menu{
	position: absolute;
	z-index: 100;
	top: 6%;
	right:1.56%;
	width: 11.26%;
}

/*----
.head_btn_back{
	position: absolute;
	z-index: 100;
	top: 7px;
	left:10px;
}


.head_btn_menu{
	position: absolute;
	z-index: 100;
	top: 7px;
	right:10px;
}
----*/

.menu ul{
	width:100%;
	min-width:320px;
}

.menu ul li {
	float: left;
	width:20%;
	margin-bottom:0px;
}
.menu_li{
	width:100%;
}

.menu{
	margin-top:0px;
}

/*----------------------------- フッター -----------------------------*/
#foot{
	width:100%;
	height: 16.66%;
	position:relative;
	text-align:center;
	background-image:url(/assets/img/app/21/common/top_footer.png);
	background-repeat:no-repeat;
	background-size:cover;
	padding-top: 0.426%;
	padding-bottom:10%;
}

#foot .copy{
	width: 100%;
	text-align: center;
	color: white;
	font-size: 10px;
	position: absolute;
	margin: 0px;
	bottom: 0px;
	padding-bottom: 3%;
}

.footer ul{
	width:100%;
	min-width:320px;
}

.footer ul li {
	float: right;
	width: 15%;
}
.footer_li{
	width:8%;
}

.footer{
	margin-top:2.3%;
}

.icon_li{
	margin-left:1.56%;
	margin-right:1.56%;
}





/*------------------- スライドメニュー -------------------------*/
div#menu_slider{
	background-color:black;
	}


div#menu_slider p {
	height:30%;
	color: white;
	font-size:14pt;
	padding-top:1.56%;
	padding-bottom:1.56%;
	padding-left:5%
	}

div#menu_slider p.gr {
	height:30%;
	background-color:#333;
	color: white;
	font-size:14pt;
	padding-top:1.56%;
	padding-bottom:1.56%;
	padding-left:5%
	}

div#menu_slider p a{
	color: white;
	font-size:14pt;
	display:block;
	padding-bottom:1.56%;
	padding-left:5%
	}

div#menu_slider p.gr a{
	color: white;
	font-size:14pt;
	display:block;
	padding-bottom:1.56%;
	padding-left:5%

	}

div#menu_slider p a img{
    margin-right: 2%;
	}

div#menu_slider p.gr a img{
    margin-right: 2%;
	}

div#menu_slider p a img.icon_li{
	display:block;
	margin:1.56%;
	}

div#menu_slider .footer ul li {
	float: left;
	width: 15%;
}

.iframeWrap {
	position: relative;
	width: 100%;
	height: 100%;
	padding-top: 65%;
	overflow: hidden;
}

.iframeWrap iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100% !important;
	height: 100% !important;
}

.iframeMap {
    position: relative;
    width: 95%;
    height: 100%;
    padding-top: 65%;
    overflow: hidden;
    margin: 3% auto;
}

.iframeMap iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100% !important;
    height: 100% !important;
}
