@charset "utf-8";
/* CSS Document */

/*
NEWS
*/



#news_contents div.title{
	background-image:url(/assets/img/app/21/common/title_head.png);
	background-size:cover;
	background-repeat:no-repeat;
	padding:10px;
	text-align:left;
}
#news_contents{
	background-color:white;
	color:black;
	text-align:center;
	margin:20px;
	min-height:300px;
}

#news_contents div.title{
	background-image:url("/assets/img/app/21/common/title_head.png");
	width:93.76%;
	background-size:cover;
	background-repeat:no-repeat;
	padding:10px;
	text-align:left;
	text-overflow: ellipsis;
}


#news_contents div.title span.title_txt{
	color: #FFF;
	text-align:left;
	margin:3.12%;
	font-size:16px;
}

#news_contents div.title span.title_day{
	color: #FFF;
	text-align:left;
	margin:3.12%;
	font-size:14px;
}


#news_contents div.detail{
	padding:3.12%;
	font-size:14px;
	margin-left:auto;
	margin-right:auto;
	text-align:left;
}

div#news_contents div.photo{
	padding:3.12%;
	margin-left:0;
	margin-right:0;
	margin-bottom:20px;
}

/*----- NEWS_LIST ------*/

#news_list{
	width: 100%;
	}
	
#news_list .scm_text_li{
	color: white;
    overflow: hidden;
    width: 80%;
    white-space: nowrap;
	padding-left: 3.125%;
	display: inline-block;
	vertical-align: middle;
	line-height: 1.5;
}
 
#news_list .scm_text_li{
    text-overflow: ellipsis;
    -webkit-text-overflow: ellipsis;
    -o-text-overflow: ellipsis;
}


#news_list .sub_contents_main .month{
	width: 51%;
	color: white;
	display: inline-block;
	padding-left: 3.125%;
	font-size:10px;
}

.yellow_arrow_li {
	float: right;
	height: 18px;
	margin-top: -5px;
	margin-right: 8px;
}

.news_list_bar p{
	padding:4px 3.5%;
}

#news_list .news_list_bar p{
	font-size: 20px;	
}

#good_contents {
	float: right;
	padding:4px;
}

#good_contents img {
	width: 50%;
}

#good_contents span{
	margin-left: 10px;
	color: white;
}


