@charset "utf-8";
/* CSS Document */

/*
NEWS
*/

#news_contents{
	background-color:white;
	color:black;
	text-align:center;
	margin:20px;
	min-height:300px;
}

#news_contents div.title{
	background-image:url("../images/news/title_head.png");
	width:93.76%;
	background-size:cover;
	background-repeat:no-repeat;
	padding:10px;
	text-align:left;
}


#news_contents div.title span.title_txt{
	color: #FFF;
	text-align:left;
	margin:3.12%;
	font-size:16px;
}

#news_contents div.title span.title_day{
	color: #FFF;
	text-align:left;
	margin:3.12%;
	font-size:14px;
}


#news_contents div.detail{
	padding:3.12%;
	font-size:14px;
	margin-left:auto;
	margin-right:auto;
	text-align:left;
}

div#news_contents div.photo{
	padding:3.12%;
	margin-left:0;
	margin-right:0;
	margin-bottom:20px;
}

#good_contents {
	float: right;
}

#good_contents img {
	padding:3.12%;
	margin-left:0;
	margin-right:0;
	margin-bottom:20px;
}
