@charset "utf-8";

/*------------------------------- ＴＯＰ　------------------------------------*/
.main_img{
	max-width:100%;
	height:auto;

}
.sub_menu ul{
	width:100%;
}

.sub_menu ul li {
	float: left;
	width: 33.333333%;
	margin-bottom:-2px;
}
.sub_menu_img{
	width:100%;
}


.sub_contents {
	background-image: url(/assets/img/common/background_titlebar21.png);
	background-repeat: repeat-x;
	background-size: contain;
	width: 100%;
}
.scm_text{
	margin-left:8px;
}

.sub_contents_title {
	height: 25px;
}
.title_background {
	height: 26px;
	float: right;
	margin-top: -26px;
}
.sub_contents_main li {
	width: 100%;
	background-color:black;
	color: white;
	border-bottom: 1px dashed lightgray;
	border-top: none;
	padding: 8px 0 8px 0;
	letter-spacing: 1px;
}

/*-NEWS欄　追加--*/
.sub_contents_main li a{
    display: block;
	color: white;
}


.yellow_arrow{
	float: right;
	height: 18px;
	margin-top:-2px;
	margin-right:8px;
}
.sub_contents_main li:last-child{
	border:none;
}
.ribon{
	width:45%;
	float:left;
}
.ribon_img{
	width:100%;
	margin-top:3px;
}
.sponser_s{
	float: right;
	width: 24%;
	margin-top: 3px;
}
.black_arrow {
	width: 12%;
	margin-top: 4.2%;
	float: left;
}
.sponser_btn{
	width:100%;
}
.sponser_link {
	float: left;
	width: 88%;
	margin-top: 4.5%;
	font-size: 12px;
}
.sponser {
	width: 100%;
	margin: auto;
	text-align:center;
}
#sponser{
	background-color:white;
	padding-bottom:3.15%;
}
.sponser img {
	width: 15%;
	margin-top: 3.125%;
	margin-right: 1.5625%;
	margin-left:1.5625%;
}

.sponsor_list img {
	width: 100%;
	margin: 0 0 0 0;
}


/*------------------------------- SCHEDULE　------------------------------------*/
#sche_main{
	background-color:black;
	letter-spacing:0.05em;
}
#schedule{
	width:100%;
}

#schedule img{
	width:100%;
}
.schedule{
	width: 95%;
	background-image:url(../images/schedule/bar_day.png);
	background-repeat: repeat-x;
	margin: 0 auto;
	margin-top:10px;
}
.schedule_detail{
	width: 95%;
	background-image: url(../images/schedule/bar_day.png);
	background-repeat: repeat-x;
	margin: 0 auto;
	margin-top:10px;
}
.schedule p{
	color: white;
	padding: 5px;
	padding-left: 66px;
}
.schedule_detail p{
	color: white;
	padding: 5px;
	margin-left:10px;
}

.schedule img{
	float:left;
	height:24px;
}

.vs{
	float:left;
	width:80%;
	margin-left:5%;
}

.vs_detail{
	float: left;
	width: 80%;
	margin-left: 10%;
}
.vs_arrow{
	float: right;
	width: 6%;
	margin-top: 19%;
	margin-right: 5%;
}

.sche_s{
	color:white;
}
.sche_s li{
	border-top: 1px dashed gray;
	padding:15px 10px;
}
.sche_green_arrow{
	height: 13px;
	padding: 0 10px;
}
.map p{
	width: 33.333%;
	text-align: center;
	margin: 0 auto;
}
.map img{
	width:100%;
	margin-bottom:10px;
}

/*
iframe{
	width:95%;
	min-height:300px;
	margin-left:2.55%;
	margin-bottom:10px;
	margin-top:20px;
}
*/

/*------------------------------- TICKET　------------------------------------*/
.ticket_main{
	background-color:black;
	letter-spacing:0.05em;
}
.fc_w{
	color:white;
}
.fl{
	float:left;
	width:18.8%;
	margin-left:3%;
}
.fr{
	float:right;
	width:75.2%;
	margin-right:3%;
}
.p1{
	line-height:1.5;
	padding-top:10px;
	margin-left:3%;
}
.shop{
	background-image:url(../images/ticket/bar_subtitle.png);
	background-size:cover;
	margin-top:10px;
	margin-bottom:10px;
}
.shop p{
	padding:5px 3.5%;
}

.buy_box{
	background-color:white;
	width:95%;
	margin:0 auto;
	font-size:10px;
	line-height:1.5;
}
.buy_title{
	background-color:gray;
}
.buy_title p{
	padding:5px 10px;
	font-size:12px;
	margin-bottom:5px;
}
.loppi{
	display: table-cell;
	vertical-align: middle;
	height: 174px;
}
.loppi_img{
	margin: 0 auto;
	display: block;
	width: 95%;
}

.seven{
	display: table-cell;
	vertical-align: middle;
	height: 75px;
}

.pia{
	display: table-cell;
	vertical-align: middle;
	height: 120px;
}

.eplus{
	display: table-cell;
	vertical-align: middle;
	height: 82px;
}
.low{
	display: table-cell;
	vertical-align: middle;
	height: 160px;
}
.pia2{
	display: table-cell;
	vertical-align: middle;
	height: 156px;
}
.cnplay{
	display: table-cell;
	vertical-align: middle;
	height: 156px;
}
.eplus2{
	display: table-cell;
	vertical-align: middle;
	height: 146px;
}
.low2{
	display: table-cell;
	vertical-align: middle;
	height: 222px;
}
.pia3{
	display: table-cell;
	vertical-align: middle;
	height: 196px;
}



.pb_10{
	padding-bottom:10px;
}
.loppi_text{
	margin-top:5px;
}

.loppi_tb{
	border:1px solid rgb(251, 124, 0);
	width:100%;
	font-size:100%;
	line-height:1.2;
	margin-top:10px;
	margin-bottom:10px;
}
.loppi_tb td{
	padding:5px 0 5px 10px;
	vertical-align:middle;
}
.ticket_black_arrow{
	height:8px;
}
.ticket_tb_text{
	color:rgb(251, 124, 0);
	padding-left:5px;
}
.fc_r{
	color:rgb(255, 82, 0);
}





/*---------- スライダー -----------*/
#game{
	width:320px;
	background-color:rgb(254, 225, 0);
	margin:0 auto;
}
.game{
	background-color:rgb(254, 225, 0);
	width:100%;
	padding-top:10px;
	padding-bottom:5px;
}
.scl{
	width:87px;
	height:80px;
	margin:0 3px;
	float:left;
	background-image:url(../images/top/bg.png);
	background-repeat:no-repeat;
	background-size:contain;
}
.scl2{
	width:87px;
	height:80px;
	margin:0 3px;
	float:left;
	background-image:url(../images/top/bg_re.png);
	background-repeat:no-repeat;
	background-size:contain;
}

.game_box{
	float:left;
	background-color:rgb(254, 225, 0);
	padding-left:5px;
}
.top_arrow_next{
	height:82px;

}
.top_arrow{
	background-color:rgb(254, 225, 0);
	float:right;
	padding-left:0;
	padding-right:10px;
	width:3%;
}



/*-------- スライダー中身 -------------*/
.game_end{
	font-size:10px;
	text-align:center;
	margin-top:2px;
}
.fc_y{
	color:rgb(254,225,0);
}
.score{
	font-family: "fantasy,Impact,ＭＳ Ｐゴシック","ヒラギノ角ゴ Pro W3","Hiragino Kaku Gothic Pro","メイリオ","Meiryo",Osaka,verdana,arial,clean,sans-serif;
	color:white;
	font-weight:bold;
	font-size:18px;
	text-align:center;
	margin-top:2px;
}
.team_right{
	height:28px;
	margin-right:2px;
}
.team_left{
	height:28px;
	margin-left:2px;

}
.game_date{
	font-size:10px;
	text-align:center;
	margin-top:5px;
}
.game_team{
	text-align:center;
}
.space{
	margin-left:4px;
}
.jikan{
	font-size:12px;
}
.hi{
	float:left;
	width:40px;
	margin-left:5px;
}
.hi p{
	font-family: "fantasy,Impact,ＭＳ Ｐゴシック","ヒラギノ角ゴ Pro W3","Hiragino Kaku Gothic Pro","メイリオ","Meiryo",Osaka,verdana,arial,clean,sans-serif;
	color:white;
	font-weight:bold;
	font-size:18px;
	margin-top:2px;
}
.jikan_box{
	float:right;
	width:40px;
}
.jikan_box p{
	font-family: "fantasy,Impact,ＭＳ Ｐゴシック","ヒラギノ角ゴ Pro W3","Hiragino Kaku Gothic Pro","メイリオ","Meiryo",Osaka,verdana,arial,clean,sans-serif;
	color:white;
	font-weight:bold;
	font-size:10px;
	margin-left:5px;
}
.week{
	margin-left:2px;
}



.menu_li {
	width: 100%;
	margin-bottom: -3px;
}






































