@charset "utf-8";
/* CSS Document */


.span12 li:nth-child(even) {
    background: #f3f3f3;
}

.span12 li:nth-child(odd) {
    background: #fff;
}

.row-fluid table {
    width: 100%;
    border-spacing: 0;
    font-size: 14px;
}

.row-fluid table th {
    color: #555555;
    padding: 8px 15px;
    font-weight: bold;
    line-height: 120%;
    text-align: center;
    box-shadow: 0px 1px 1px rgba(255,255,255,0.3) inset;
    border-bottom: 1px solid #ddd;
}

.row-fluid table th:first-child {
    border-radius: 5px 0 0 0;
}

.row-fluid table th:last-child {
    border-radius: 0 5px 0 0;
}

.row-fluid table tr td {
    padding: 10px 15px;
    text-align: center;
    line-height: 1.4;
}

.row-fluid table tr {
    background: #f3f3f3;
}

.row-fluid table tr:nth-child(2n+1) {
    background: #fff;
}

.row-fluid table tr:hover {
    background: #bbd4ee;
    cursor: pointer;
}

.row-fluid table tr:first-child:hover {
    background: #fff;
    cursor: auto;
}

.widget_head {
    margin-bottom: 28px;
    border-radius: 4px 4px 0px 0px;
    box-shadow: inset 0px 1px 0px rgba(255,255,255,0.7);
    background-color: #eeeeee;
    background: -webkit-gradient( linear, left top, left bottom, color-stop(5%, #eeeeee), color-stop(100%, #e5e5e5) );
    background: -moz-linear-gradient( center top, #eeeeee 5%, #e5e5e5 100% );
    background: -ms-linear-gradient( top, #eeeeee 5%, #e5e5e5 100% );
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#eeeeee', endColorstr='#e5e5e5');
    color: #222;
    font-weight: bold;
    line-height: 38px;
    padding-left: 7%;
    margin: 20px;
    margin-bottom: 0px;
    padding: 10px;
    border: 1px solid #CACACA;
    border-bottom: none;
}

.page_number li {
    display: inline;
}

.page_number li strong {
    display: -moz-inline-box;
    display: inline-block;
    padding: 2px 7px 4px;
    background: #EEE;
    border: 1px #CCC solid;
    margin-left: 5px;
}

.page_number li a {
    display: -moz-inline-box;
    display: inline-block;
    padding: 2px 7px 4px;
    border: 1px #ddd solid;
    margin-left: 5px;
}

.page_number li a:hover {
    border: 1px solid #2D88B3;
    background: #2D88B3;
    color: #FFF;
}

.btn_green:hover {
    background: #7aba00;
    -webkit-box-shadow: inset 0 1px 0 0 #a4d04a, 0 1px 0 0px #e3e3e3;
    -moz-box-shadow: inset 0 1px 0 0 #5a92be, 0 1px 0 0px #e3e3e3;
    -ms-box-shadow: inset 0 1px 0 0 #5a92be, 0 1px 0 0px #e3e3e3;
    -o-box-shadow: inset 0 1px 0 0 #5a92be, 0 1px 0 0px #e3e3e3;
    box-shadow: inset 0 1px 0 0 #a4d04a, 0 1px 0 0px #e3e3e3;
    color: #fff;
    border: 1px solid #459300;
    cursor: pointer;
    text-decoration: none;
}

.btn_green {
    background: #7aba00;
    background: -moz-linear-gradient(top, #7aba00 0%, #459300 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#7aba00), color-stop(100%,#459300));
    background: -webkit-linear-gradient(top, #7aba00 0%,#459300 100%);
    background: -o-linear-gradient(top, #7aba00 0%,#459300 100%);
    background: -ms-linear-gradient(top, #7aba00 0%,#459300 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2981be', endColorstr='#1b5488',GradientType=0 );
    background: linear-gradient(top, #7aba00 0%,#459300 100%);
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
    border-radius: 3px;
    -webkit-box-shadow: inset 0 1px 0 0 #7aba00, 0 1px 0 0px #e3e3e3;
    -moz-box-shadow: inset 0 1px 0 0 #5fa1ce, 0 1px 0 0px #e3e3e3;
    -ms-box-shadow: inset 0 1px 0 0 #5fa1ce, 0 1px 0 0px #e3e3e3;
    -o-box-shadow: inset 0 1px 0 0 #5fa1ce, 0 1px 0 0px #e3e3e3;
    box-shadow: inset 0 1px 0 0 #7aba00, 0 1px 0 0px #E3E3E3;
    color: #fff;
    border: 1px solid #459300;
    text-shadow: 0 1px 1px #224700;
    font-weight: bold;
    line-height: 1;
    padding: 4px 7px;
    text-align: center;
    text-decoration: none;
    vertical-align: sub;
    font-family: tahoma, arial, helvetica, sans-serif !important;
    font-weight: bold !important;
    margin: 0 auto;
    margin: 0 2px;
    margin-top: 14px;
    padding: 7px 10px;
    margin-bottom: 7px;
}

.note_box {
    padding: 15px;
    background-color: #f5f5f5;
    border: 1px solid #e3e3e3;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    color: #222;
    font-size: 13px;
    margin: 20px;
    color: #555;
    font-weight: bold;
    margin-bottom: 0px;
}

.note_box dt img {
    margin-right: 5px;
}

.note_box dd {
    margin-left: 32px;
    line-height: 1.5;
    color: #818181;
    font-weight: normal;
}

#table_edit {
/*width:200px;*/;
}

#table_del {
/*width:200px;*/;
}

.register label {
    float: left;
    width: 160px;
    padding-top: 5px;
    text-align: right;
}

.register input[type="text"] {
    float: right;
    width: 160px;
    padding-top: 5px;
}

input[type=text]:focus, input[type=password]:focus {
    outline: none;
}

a {
    color: #0088cc;
    text-decoration: none;
}

a:hover {
    color: #005580;
    text-decoration: underline;
}

/*
2013/07/20 add
*/

/*****リセット******/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
}

body {
    line-height: 1;
}

ol, ul {
    list-style: none;
}

blockquote, q {
    quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}

/* remember to define focus styles! */
:focus {
    outline: 0;
}

/* remember to highlight inserts somehow! */
ins {
    text-decoration: none;
}

del {
    text-decoration: line-through;
}

/* tables still need 'cellspacing=&quot;0&quot;' in the markup */
table {
    border-collapse: collapse;
    border-spacing: 0;
}

/**************/
.clear {
    clear: both;
}

/*調節用*/

.mb_20 {
    margin-bottom: 20px;
}

.mb_10 {
    margin-bottom: 10px;
}

.mb_5 {
    margin-bottom: 5px;
}

.ml_20 {
    margin-left: 20px;
}

.mr_3 {
    margin-right: 3px;
}

.mr_5 {
    margin-right: 5px;
}

.mt_20 {
    margin-top: 20px;
}

.mt_45 {
    margin-top: -45px;
}

.br_4 {
    border-radius: 4px;
}


/* Dimensions set via css in MovingBoxes version 2.2.2+ */
#slider {
    width: 500px;
}

#slider li {
    width: 250px;
}
/**/

body {
    font-family: "ＭＳ Ｐゴシック","ヒラギノ角ゴ Pro W3","Hiragino Kaku Gothic Pro","メイリオ","Meiryo",Osaka,verdana,arial,clean,sans-serif;
    color: #555;
    font-size: 14px;
}

img {
    vertical-align: middle;
}

h1 {
    font-family: 'Linear', "Helvetica Neue", Arial;
    color: #555;
    font-size: 18px;
    letter-spacing: 0px;
    margin-bottom: 0;
    font-weight: normal;
    margin-top: 6px;
}

h2 {
    font-family: 'Linear', "Helvetica Neue", Arial;
    color: #B6B6B6;
    font-size: 10px;
    letter-spacing: 1px;
    margin-top: 0;
    font-weight: normal;
}

#content {
    margin: 0 auto;
    width: 100%;
}

#top_content {
    border-bottom: 1px dotted #ccc;
    height: 60px;
}

#left_content {
    float: left;
    height: auto;
}

#right_content {
    float: right;
    width: 84%;
    border-left: 1px solid #eee;
    padding-bottom: 20px;
    min-height: 250px;
}

#logout_btn {
    float: right;
    margin-top: 13px;
    margin-right: 20px;
    line-height: 17px;
}

.content_title {
    border-bottom: 1px solid #eee;
    font: 20px Helvetica, arial, freesans, clean, sans-serif;
    padding: 10px 20px;
    color: #333333;
    font-weight: bold;
    vertical-align: bottom;
    padding-top: 0;
    line-height: 34px;
    margin-top: 14px;
}

.content_title img {
    margin-right: 5px;
}

#nav_bar {
    font-size: 12px;
    margin-left: 20px;
}

#title_box {
    float: left;
    padding-left: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
}

#footer {
    border-top: 1px dotted #ccc;
    height: 40px;
    font-size: 12px;
    color: #818181;
    padding: 20px;
    padding-bottom: 0;
}

/*#contact_us{
float:right;
}*/

/*メニュー*/
.nav {
    overflow: hidden;
    background-color: #fff;
    margin-left: 10px;
}

.nav li {
    margin-top: -1px;
    list-style-type: none;
}

.nav li a {
    display: block;
    width: 100%;
    height: 100%;
    padding: 15px;
    color: #4D4D4D;
    text-decoration: none;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    font-weight: bold;
}

.nav, .nav * {
    font: bold 15px Verdana,sans-serif;
    margin: 0;
    padding: 0;
    line-height: 1em;
}

.nav {
    padding: 0;
    line-height: 1em;
    list-style: none;
    margin-top: 20px;
}

.nav li {
    margin: 0;
    padding: 0;
    line-height: 0;
    text-align: left;
}

.nav a:hover {
    color: #a18f6f;
    border-left: 5px solid #e3db9d;
    text-decoration: none;
}

.nav a#current {
    color: #a71700;
    border-left: 5px solid #a71700;
}

.nav a {
    display: block;
    margin: 0;
    padding: 5px 10px;
    color: #848684;
    font-weight: bold;
    border-left: 5px solid #eee;
    text-decoration: none;
}

/*ボタン*/
.gray_btn:hover {
    text-decoration: none;
    background-color: #dadada;
    background-image: -moz-linear-gradient(#eaeaea, #dadada);
    background-image: -webkit-linear-gradient(#eaeaea, #dadada);
    background-image: linear-gradient(#eaeaea, #dadada);
    background-repeat: repeat-x;
    border-color: #ccc #ccc #b5b5b5;
    color: #333;
}

.gray_btn {
    position: relative;
    display: inline-block;
    padding: 7px 15px;
    font-size: 13px;
    font-weight: bold;
    color: #333;
    text-shadow: 0 1px 0 rgba(255,255,255,0.9);
    white-space: nowrap;
    background-color: #eaeaea;
    background-image: -moz-linear-gradient(#fafafa, #eaeaea);
    background-image: -webkit-linear-gradient(#fafafa, #eaeaea);
    background-image: linear-gradient(#fafafa, #eaeaea);
    background-repeat: repeat-x;
    border-radius: 3px;
    border: 1px solid #ddd;
    border-bottom-color: #c5c5c5;
    box-shadow: 0 1px 3px rgba(0,0,0,0.05);
    vertical-align: middle;
    cursor: pointer;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-appearance: none;
    line-height: 1.4;
}

.blue_btn:hover {
    text-decoration: none;
    background-color: #1d2a39;
    background-image: -moz-linear-gradient(#293746, #1d2a39);
    background-image: -webkit-linear-gradient(#293746, #1d2a39);
    background-image: linear-gradient(#293746, #1d2a39);
    background-repeat: repeat-x;
    color: #fff;
}

.blue_btn {
    position: relative;
    display: inline-block;
    padding: 7px 15px;
    font-size: 13px;
    font-weight: bold;
    color: #fff;
    white-space: nowrap;
    background-color: #eaeaea;
    background-image: -moz-linear-gradient(#394859, #27384b);
    background-image: -webkit-linear-gradient(#394859, #27384b);
    background-image: linear-gradient(#394859, #27384b);
    background-repeat: repeat-x;
    border-radius: 3px;
    border: 1px solid #314052;
    border-bottom-color: #1d2a39;
    box-shadow: 0 1px 3px rgba(0,0,0,0.05);
    vertical-align: middle;
    cursor: pointer;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-appearance: none;
    text-shadow: 0 1px 0 rgba(72,86,102,0.9);
    line-height: 1.4;
}

#number_slider {
    font-family: 'Linear', "Helvetica Neue", Arial;
    color: #B6B6B6;
    font-size: 12px;
    letter-spacing: 1px;
    margin-top: 5px;
    font-weight: normal;
}

.widget_head_2 {
    border-radius: 4px 4px 0px 0px;
    box-shadow: inset 0px 1px 0px rgba(255,255,255,0.7);
    background: -webkit-gradient( linear, left top, left bottom, color-stop(5%, #eeeeee), color-stop(100%, #e5e5e5) );
    background: -moz-linear-gradient( center top, #eeeeee 5%, #e5e5e5 100% );
    background: -ms-linear-gradient( top, #eeeeee 5%, #e5e5e5 100% );
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#eeeeee', endColorstr='#e5e5e5');
    font-weight: bold;
    padding: 15px 20px;
    margin: 20px;
    font-size: 15px;
    color: #555;
    text-shadow: 0 1px 0 #fff;
    display: block;
    border: 1px solid #CACACA;
    border-bottom: none;
    background-color: #eaeaea;
    background-image: -moz-linear-gradient(#fafafa, #eaeaea);
    background-image: -webkit-linear-gradient(#fafafa, #eaeaea);
    background-image: linear-gradient(#fafafa, #eaeaea);
    background-repeat: repeat-x;
    margin-bottom: 0px;
}

.row-fluid {
    border: 1px solid #CACACA;
    margin: 0px 20px;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
}

#slider a {
    font-size: 12px;
}

.slider_btn_box {
    float: right;
}

#save_btn {
    margin-left: 170px;
}

#news_table li:nth-child(2n+1) {
    background: #f3f3f3;
}

#news_table li:nth-child(2n+1):hover {
    background: #bbd4ee;
}

#payment_list {
	margin-left: 170px;
}

#payment_list li:nth-child(2n+1) {
    background: #f3f3f3;
}

#payment_list li:nth-child(2n+1):hover {
    background: #bbd4ee;
}

/*
フォーム
*/

select, textarea, input[type="text"], input[type="password"], input[type="datetime"], input[type="datetime-local"], input[type="date"], input[type="month"], input[type="time"], input[type="week"], input[type="number"], input[type="email"], input[type="url"], input[type="search"], input[type="tel"], input[type="color"], .uneditable-input {
    background-color: #fff;
    border: 1px solid #ccc;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
    -moz-box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
    -webkit-transition: border linear .2s,box-shadow linear .2s;
    -moz-transition: border linear .2s,box-shadow linear .2s;
    -o-transition: border linear .2s,box-shadow linear .2s;
    transition: border linear .2s,box-shadow linear .2s;
    display: inline-block;
    height: 20px;
    padding: 4px 7px;
    margin-bottom: 20px;
    font-size: 14px;
    line-height: 20px;
    color: #555;
    vertical-align: middle;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    width: 280px;
}

select {
    background-color: #fff;
    border: 1px solid #ccc;
    height: 30px;
    line-height: 30px;
    width: auto;
}

.contents_form {
    padding: 20px;
    font-size: 13px;
    color: #555;
}

.contents_form div.btn {
	margin-top: 10px;
}

.contents_form label {
    float: left;
    width: 150px;
    text-align: right;
    display: block;
    margin-right: 20px;
    line-height: 30px;
    font-weight: bold;
}

.contents_form hr {
    border-bottom: 1px dashed #dcdcdc;
    border-top: none;
    margin-top: 0;
    margin-bottom: 20px;
    margin-left: 10px;
    margin-right: 10px;
}

#info hr {
    border-bottom: 1px dashed #dcdcdc;
    border-top: none;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-right: 10px;
}

.page_number strong {
    color: #999;
}

#info dt {
    width: 100px;
    float: left;
    font-weight: bold;
}

#info {
    margin-left: 20px;
    padding: 20px 0px;
    font-size: 13px;
}

.page_number {
    margin-left: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
}

#new_edit {
    line-height: 1.4;
    vertical-align: bottom;
}

#table_text {
    text-align: left;
    font-size: 13px;
    min-height: 70px;
    padding-left: 179px;
    line-height: 1.4;
}

#table_text a {
    font-weight: bold;
}

#i12 {
    margin-right: 5px;
    margin-left: -5px;
}

#coupon_limit {
    font-size: 13px;
    font-weight: bold;
    margin: 5px 0;
    color: #4B4B4B;
}

#coupon_text {
    font-size: 13px;
    line-height: 1.3;
    margin-bottom: 5px;
}

#news_table tbody, #news_table td, #news_table th {
    vertical-align: middle;
}

#news_table a {
    font-weight: bold;
}

.news_table {
    padding: 20px;
}

.news_table:hover {
    background: #bbd4ee;
    cursor: pointer;
}

/*
モーダルウインドウ
*/

.ui-draggable .ui-dialog-titlebar {
    border-bottom: 1px solid #CACACA;
    border-radius: 4px 4px 0px 0px;
    box-shadow: inset 0px 1px 0px rgba(255,255,255,0.7);
    background: -webkit-gradient( linear, left top, left bottom, color-stop(5%, #eeeeee), color-stop(100%, #e5e5e5) );
    background: -moz-linear-gradient( center top, #eeeeee 5%, #e5e5e5 100% );
    background: -ms-linear-gradient( top, #eeeeee 5%, #e5e5e5 100% );
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#eeeeee', endColorstr='#e5e5e5');
    font-weight: bold;
    padding: 15px 20px;
    font-size: 15px;
    color: #555;
    text-shadow: 0 1px 0 #fff;
    display: block;
    border-bottom: none;
    background-color: #eaeaea;
    background-image: -moz-linear-gradient(#fafafa, #eaeaea);
    background-image: -webkit-linear-gradient(#fafafa, #eaeaea);
    background-image: linear-gradient(#fafafa, #eaeaea);
    background-repeat: repeat-x;
}

input.text {
    margin-bottom: 12px;
    width: 95%;
    padding: .4em;
    background-color: #fff;
    border: 1px solid #ccc;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
    -moz-box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
    -webkit-transition: border linear .2s,box-shadow linear .2s;
    -moz-transition: border linear .2s,box-shadow linear .2s;
    -o-transition: border linear .2s,box-shadow linear .2s;
    transition: border linear .2s,box-shadow linear .2s;
    display: inline-block;
    height: 20px;
    padding: 4px 7px;
    margin-bottom: 20px;
    font-size: 14px;
    line-height: 20px;
    color: #555;
    vertical-align: middle;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    width: 280px;
}

label, input {
    display: block;
}

input.text {
    margin-bottom: 12px;
    width: 95%;
    padding: .4em;
}

fieldset {
    padding: 0;
    border: 0;
    margin-top: 25px;
}

div#users-contain {
    width: 350px;
    margin: 20px 0;
}

div#users-contain table {
    margin: 1em 0;
    border-collapse: collapse;
    width: 100%;
}

div#users-contain table td, div#users-contain table th {
    border: 1px solid #eee;
    padding: .6em 10px;
    text-align: left;
}

.ui-dialog .ui-state-error {
    padding: .3em;
}

.validateTips {
    border: 1px solid transparent;
    padding: 0.3em;
}

.ui-dialog {
    background-color: #fff;
    border: 1px solid #CACACA;
    border-radius: 4px;
    box-shadow: 0 1px 16px -1px rgba(0,0,0,0.5), inset 0px 1px 1px 0px #ffffff;
    -webkit-box-shadow: 0 1px 16px -1px rgba(0,0,0,0.5), inset 0px 1px 1px 0px #ffffff;
    -moz-box-shadow: 0 1px 16px -1px rgba(0,0,0,0.5), inset 0px 1px 1px 0px #ffffff;
    border: 1px solid #ADADAD;
}

input[type="radio"] {
    display: inline-block;
}

#dialog-form {
    padding: 20px;
}

.ui-dialog .ui-dialog-titlebar-close {
    position: absolute;
    right: 20px;
    top: 22px;
    width: 21px;
    height: 20px;
    margin: -10px 0 0 0;
    padding: 1px;
    border: 1px solid #d3d3d3;
    background: #e6e6e6 url(../images/i14_onoff.png) no-repeat;
    background-size: 13px;
    background-position: 3px 4px;
    font-weight: normal;
    color: #555555;
    border-radius: 4px;
    text-indent: -100px;
    cursor: pointer;
    display: inline-block;
}

.ui-dialog .ui-dialog-titlebar-close:hover {
    filter: alpha(opacity=80);
    opacity: 0.8;
}

.ui-dialog-content.ui-widget-content {
    padding: 10px 10px 0;
}

.ui-dialog-buttonset {
    margin-left: 90px;
    margin-bottom: 20px;
    margin-top: 20px;
}

.ui-button-text-only {
    position: relative;
    display: inline-block;
    padding: 8px 15px;
    font-size: 13px;
    font-weight: bold;
    color: #333;
    text-shadow: 0 1px 0 rgba(255,255,255,0.9);
    white-space: nowrap;
    background-color: #eaeaea;
    background-image: -moz-linear-gradient(#fafafa, #eaeaea);
    background-image: -webkit-linear-gradient(#fafafa, #eaeaea);
    background-image: linear-gradient(#fafafa, #eaeaea);
    background-repeat: repeat-x;
    border-radius: 3px;
    border: 1px solid #ddd;
    border-bottom-color: #c5c5c5;
    box-shadow: 0 1px 3px rgba(0,0,0,0.05);
    vertical-align: middle;
    cursor: pointer;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-appearance: none;
    line-height: 1.4;
}

.ui-button-text-only:hover {
    text-decoration: none;
    background-color: #dadada;
    background-image: -moz-linear-gradient(#eaeaea, #dadada);
    background-image: -webkit-linear-gradient(#eaeaea, #dadada);
    background-image: linear-gradient(#eaeaea, #dadada);
    background-repeat: repeat-x;
    border-color: #ccc #ccc #b5b5b5;
    color: #333;
}

.dialog_blue_btn {
    position: relative;
    display: inline-block;
    padding: 7px 15px;
    font-size: 13px;
    font-weight: bold;
    color: #fff;
    white-space: nowrap;
    background-color: #eaeaea;
    background-image: -moz-linear-gradient(#394859, #27384b);
    background-image: -webkit-linear-gradient(#394859, #27384b);
    background-image: linear-gradient(#394859, #27384b);
    background-repeat: repeat-x;
    border-radius: 3px;
    border: 1px solid #314052;
    border-bottom-color: #1d2a39;
    box-shadow: 0 1px 3px rgba(0,0,0,0.05);
    vertical-align: middle;
    cursor: pointer;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-appearance: none;
    text-shadow: 0 1px 0 rgba(72,86,102,0.9);
    margin-right: 5px;
}

.dialog_blue_btn:hover {
    text-decoration: none;
    background-color: #1d2a39;
    background-image: -moz-linear-gradient(#293746, #1d2a39);
    background-image: -webkit-linear-gradient(#293746, #1d2a39);
    background-image: linear-gradient(#293746, #1d2a39);
    background-repeat: repeat-x;
    color: #fff;
    border: 1px solid #314052;
    border-bottom-color: #1d2a39;
}

.news_table img {
    float: left;
    border: 1px solid #eaeaea;
}

.menu_ac {
    padding: 20px;
}

.menu_cate_box {
    line-height: 1.4;
    float: left;
    min-width: 500px;
}

.menu_cate_box img {
    float: left;
    border: 1px solid #eaeaea;
}

.menu_cate_box_text {
    padding-left: 179px;
}

.menu_table_text {
    text-align: left;
    font-size: 13px;
    padding-left: 179px;
    line-height: 1.4;
    max-width: 400px;
    min-height: 56px;
}

.menu_table_text a {
    font-weight: bold;
}

.menu_inline:first-child {
    border: 1px solid #ccc;
    display: block;
    margin-left: 178px;
    margin-top: 20px;
    padding: 20px;
    border-top-right-radius: 4px;
    border-top-left-radius: 4px;
}

.menu_inline {
    border: 1px solid #ccc;
    display: block;
    margin-left: 178px;
    padding: 20px;
    border-top: none;
}

.menu_inline:nth-last-child(2) {
    border-bottom-right-radius: 4px;
    border-bottom-left-radius: 4px;
}

.menu_inline:nth-child(odd) {
    background-color: #f3f3f3;
}

.menu_inline:last-child {
    background: #fff;
}

.menu_inline:hover {
    background: #bbd4ee;
    cursor: pointer;
}

.add_box {
    border: none;
    padding-top: 0px;
    padding-right: 0px;
    background: #fff;
    min-height: 55px;
}

.add_box:hover {
    background: #fff;
    cursor: auto;
}

.add_btn {
    float: right;
    margin: 10px 0 20px 0;
}

.new_cate_add {
    float: right;
    margin: 10px 20px 20px 0;
}

.up_down {
    float: right;
    width: 50px;
    margin-right: 20px;
    margin-top: 3px;
}

.mb-inside img {
    border: 1px solid #eaeaea;
}

.menu .row-fluid_wrap {
    margin-top: 20px;
}

.edit_text {
    margin-left: 170px;
    margin-top: 20px;
    margin-bottom: 10px;
}

#upload {
    margin-left: 170px;
    margin-top: 10px;
    margin-bottom: 10px;
}

#i11 {
    border: none;
}

.contents_form span {
    background-color: #fff;
    -webkit-transition: border linear .2s,box-shadow linear .2s;
    -moz-transition: border linear .2s,box-shadow linear .2s;
    -o-transition: border linear .2s,box-shadow linear .2s;
    transition: border linear .2s,box-shadow linear .2s;
    display: inline-block;
    min-height: 20px;
    padding: 4px 7px;
    margin-bottom: 20px;
    font-size: 14px;
    line-height: 20px;
    color: #555;
    vertical-align: middle;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    width: 280px;
}

.contents_form span.desc {
	margin-left: 165px;
	margin-bottom: 10px;
	color: #555555;
	font-size: 11px;
}

.ac1 dd img {
    margin: 0 auto;
    border-radius: 4px;
    border: 1px solid #F3F3F3;
    margin-top: 20px;
    margin-bottom: 10px;
    width: 100%;
    max-width: 600px;
}

.menu .contents_form hr {
    margin-bottom: 10px;
}

#up_down_inside {
    margin-top: -50px;
}

#i18, #i19 {
    border: none;
}

#to_left_btn {
    margin-top: 10px;
    margin-left: 65px;
}

#to_right_btn {
    margin-top: 10px;
}

#coupon_left_right_btn hr {
    border-bottom: 1px dashed #dcdcdc;
    border-top: none;
    margin-top: 15px;
    margin-bottom: 5px;
    margin-left: 10px;
    margin-right: 10px;
}

.radio_label {
    width: 86px !important;
}

.contents_form ul li {
    min-height: 50px;
}

/* Payment */
.sale_list li {
	margin-bottom: 10px;
}

.sale_list li#name {
	font-weight: bold;
}

.sale_list li#expire {
}

.sale_list li#expire span {
	font-weight: bold;
}

.sale_list li#desc {
	margin-top: 20px;
}

.sale_list li#price {
	font-weight: bold;
}
