@charset "utf-8";

.btn_red {
    background: #2981be;
    background: -moz-linear-gradient(top, #2981be 0%, #1b5488 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#2981be), color-stop(100%,#1b5488));
    background: -webkit-linear-gradient(top, #2981be 0%,#1b5488 100%);
    background: -o-linear-gradient(top, #2981be 0%,#1b5488 100%);
    background: -ms-linear-gradient(top, #2981be 0%,#1b5488 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2981be', endColorstr='#1b5488',GradientType=0 );
    background: linear-gradient(top, #2981be 0%,#1b5488 100%);
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
    border-radius: 3px;
    -webkit-box-shadow: inset 0 1px 0 0 #5fa1ce, 0 1px 0 0px #e3e3e3;
    -moz-box-shadow: inset 0 1px 0 0 #5fa1ce, 0 1px 0 0px #e3e3e3;
    -ms-box-shadow: inset 0 1px 0 0 #5fa1ce, 0 1px 0 0px #e3e3e3;
    -o-box-shadow: inset 0 1px 0 0 #5fa1ce, 0 1px 0 0px #e3e3e3;
    box-shadow: inset 0 1px 0 0 #5fa1ce, 0 1px 0 0px #e3e3e3;
    color: #fff;
    border: 1px solid #13436d;
    text-shadow: 0 1px 1px #144570;
    font-weight: bold;
    line-height: 1;
    padding: 4px 7px;
    text-align: center;
    text-decoration: none;
    vertical-align: sub;
    font-family: tahoma, arial, helvetica, sans-serif !important;
    font-weight: bold !important;
    margin: 0 2px;
}

.btn_red:hover {
    background: #236ea8;
    -webkit-box-shadow: inset 0 1px 0 0 #5a92be, 0 1px 0 0px #e3e3e3;
    -moz-box-shadow: inset 0 1px 0 0 #5a92be, 0 1px 0 0px #e3e3e3;
    -ms-box-shadow: inset 0 1px 0 0 #5a92be, 0 1px 0 0px #e3e3e3;
    -o-box-shadow: inset 0 1px 0 0 #5a92be, 0 1px 0 0px #e3e3e3;
    box-shadow: inset 0 1px 0 0 #5a92be, 0 1px 0 0px #e3e3e3;
    color: #fff;
    border: 1px solid #13436d;
    cursor: pointer;
    text-decoration: none;
}

#login_box {
    margin: 0 auto;
    width: 35%;
    margin-top: 30px;
    border: 1px solid #ADADAD;
    padding-bottom: 35px;
    border-radius: 5px;
    max-width: 400px;
    box-shadow: 0 1px 16px -1px rgba(0,0,0,0.3), inset 0px 1px 1px 0px #ffffff;
    -webkit-box-shadow: 0 1px 16px -1px rgba(0,0,0,0.3), inset 0px 1px 1px 0px #ffffff;
    -moz-box-shadow: 0 1px 16px -1px rgba(0,0,0,0.3), inset 0px 1px 1px 0px #ffffff;
    background-color: #fff;
}

#login_box input[type=text], #login_box input[type=password] {
    margin: 0 auto;
    display: block;
    color: #555;
    width: 90%;
    padding: 7px 10px;
    border: 1px solid #ccc;
}

#login_box #head_title {
    height: 41px;
    margin-bottom: 28px;
    border-radius: 4px 4px 0px 0px;
    box-shadow: inset 0px 1px 0px rgba(84,93,102,0.7);
    background-color: #545d66;
    background: -webkit-gradient( linear, left top, left bottom, color-stop(5%, #3e454f), color-stop(100%, #212832) );
    background: -moz-linear-gradient( center top, #3e454f 5%, #212832 100% );
    background: -ms-linear-gradient( top, #3e454f 5%, #212832 100% );
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#3e454f', endColorstr='#212832');
    color: #fff;
    font-weight: bold;
    line-height: 38px;
    padding-left: 7%;
    width: 93%;
}

#login_box label {
    display: block;
    margin-top: 10px;
    margin-bottom: 5px;
    color: #555555;
    font-size: 14px;
}

#login_box #rem_pass {
    float: left;
    display: inline-block;
    margin-top: 24px;
    font-size: 12px;
}

#login_box #login_btn {
    float: right;
    margin-top: 14px;
    padding: 7px 10px;
    margin-bottom: 7px;
}

.clear {
    clear: both;
}

#login_box_wrap {
    padding-left: 7%;
    padding-right: 7%;
}

input[type=text]:focus, input[type=password]:focus {
    outline: none;
}

#copy {
    color: rgba(138, 138, 138, 0.9);
    text-shadow: 0 1px 1px rgba(255,255,255,.25);
    font-size: 12px;
    text-align: center;
    margin-top: 32px;
}

body {
    background: url(../../images/pattem2.png);
}

#login_title_wrap {
    margin: 0 auto;
    width: 118px;
    margin-top: 160px;
}

#login_box hr {
    height: 0;
    border: 0;
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #fff;
}

#login_box #forgot_pass {
    display: inline-block;
    margin-top: 7px;
    font-size: 12px;
}

.error {
	color: #D20733;
	font-size: 12px;
}

.error_message_wrapper {
	margin-top: 15px;
	margin-left: 7px;
	color: #CB0F1B;
	font-size: 12px;
}

#forgot_pass {
/*リンクされた文字*/
    color: #0088cc;
    text-decoration: none;
}

#forgot_pass:link {
/*未訪問のリンク*/
    color: #0088cc;
    text-decoration: none;
}

#forgot_pass:visited {
/*訪問後のリンク*/
    color: #0088cc;
    text-decoration: none;
}

#forgot_pass:hover {
/*マウスをのせたとき*/
    color: #005580;
    text-decoration: underline;
}

#forgot_pass:active {
/*クリック中*/
    color: #0088cc;
    text-decoration: underline;
}
