{include "common/header.tpl"}

<div id="content"><!-- 固定ヘッダー+余白分 -->

  <img src="http://timg.spost.jp/app/team/top/{$TEAM->id()}/{$image->file_name}" style="position:fixed; width:100%">

<div id="team_member" style="padding-top:27%; width:100%">
{foreach from=$list item=item}
  <a href="/team/detail/{$TEAM->id()}/{$item->id}"><img src="http://timg.spost.jp/app/team/member/{$TEAM->id()}/{$item->file_name}"></a>
{/foreach}
</div>

{include "common/footer.tpl"}