{include "common/header_member_detail.tpl"}

<div id="content" style="margin-top:32%;"><!-- 固定ヘッダー+余白分 -->
    <div id="garally">
        <div class="garally_main">
            <img src="http://timg.spost.jp/app/gallery/{$TEAM->id()}/{$image->file_name}">
        </div>
    </div>
</div>

{include "common/footer.tpl"}