{include "common/header_member_detail.tpl"}

<div id="content" style="margin-top:28%;"><!-- 固定ヘッダー+余白分 -->
    <div id="garally">
        <div class="garally">
      {foreach from=$list item=item}
          <a href="/gallery/detail/{$TEAM->id()}/{$item->id}"><img src="http://timg.spost.jp/app/gallery/{$TEAM->id()}/{$item->thumb_image_file_name()}" width="68px" height="68px" alt=""></a>
      {/foreach}
        </div>
    </div>
</div>

{include "common/footer.tpl"}