@charset "utf-8";
/* CSS Document */

/*****リセット******/
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-size: 100%;
	vertical-align: baseline;
	background: transparent;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after, q:before, q:after {
	content: '';
	content: none;
}
:focus {
	outline: 0;
}
ins {
	text-decoration: none;
}
del {
	text-decoration: line-through;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
input[type="submit"] {
	-webkit-appearance: none;
}
/**************/
.clear {
	clear: both;
}
* {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-o-box-sizing: border-box;
	-ms-box-sizing: border-box;
	box-sizing: border-box;
}
a:hover {
	font-style: normal;
	text-decoration: none;
}
a:visited {
	text-decoration: none;
}
a:link {
	text-decoration: none;
}
a {
	font-style: normal;
	text-decoration: none;
}
.clearfix:after {
	content: ".";
	display: block;
	height: 0;
	font-size: 0;
	clear: both;
	visibility: hidden;
}
.clearfix {
	display: inline-block;
}
/* Hides from IE Mac */
* html .clearfix {
	height: 1%;
}
.clearfix {
	display: block;
}
/* End Hack */


/*
header
*/

#header {
	background-color: #FFF;
	height: 44px;
	width: 100%;
	position: fixed;
	top: 0;
	right: 0;
	left: 0;
	z-index: 1030;
	margin-bottom: 0;
}
#header #wrap {
	width: 100%;
	padding: 5px 4%;
	text-align: center;
	height: 44px;
}
#header .fa-caret-left {
	float: left;
	font-size: 36px;
	color: #36b26f;
}
#header .fa-bars {
	float: right;
	font-size: 24px;
	color: #36b26f;
	padding-top: 5px;
}
#header span {
	display: inline-block;
	width: 46%;
	text-align: center;
	font-size: 16px;
	letter-spacing: 0.2em;
	vertical-align: middle;
	line-height: 2;
	margin-left: 21%;
	margin-right: 19%;
}
/*
common
*/

#all {
	width: 100%;
	min-width: 320px;
	font-size: 12px;
	color: #636363;
	font-family: "ヒラギノ角ゴ ProN W6", "Hiragino Kaku Gothic ProN", Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
	margin-top: 44px;
}
#all div {
	width: 100%;
	display: block;
}
.w_100 {
	width: 100%;
}
h1 .fa {
	margin-right: 5px;
}
#news h1, #company h1, #info h1, #segments h1, #topics h1 {
	padding: 10px 0px;
	color: #636363;
	background-color: #EBEBEB;
	padding-left: 4%;
	letter-spacing: 0.1em;
	font-weight: bold;
	font-size: 16px;
}
.mr_5 {
	margin-right: 5px;
}
.fog img {
	filter: blur(5px);
	-webkit-filter: blur(5px);
	-moz-filter: blur(5px);
	-ms-filter: blur(5px);
	-o-filter: blur(5px);
	filter: blur(5px);
}
/*
top
*/

#top h2 {
	padding-left: 4%;
	padding-bottom: 15px;
	display: inline-block;
	letter-spacing: 0.1em;
	font-weight: bold;
	font-size: 16px;
	color: #36b26f;
}
#top .content_1 .fa, #top .content_2 .fa {
	margin-right: 5px;
}
.more_btn {
	width: 80px;
	float: right;
	margin-right: 4%;
	margin-top: -3px;
}
#top .content_1 {
	margin: 20px 0px 25px;
	border-top: 1px solid #ddd;
	padding-top: 15px;
}
#top table {
	width: 100%;
	display: block;
	color: #636363;
}
#top tbody {
	width: 100%;
	padding: 10px 4%;
	border-top: 1px solid #ddd;
	border-bottom: 1px solid #ddd;
	display: block;
	line-height: 1.8;
	min-height: 50px;
	font-size: 11px;
}
#top table th {
	text-align: left;
	padding-right: 10px;
	color: #999;
	font-family: "ヒラギノ角ゴ Pro W3", "Hiragino Kakugo Pro W3", Helvetica, Verdana, "ＭＳ Ｐゴシック", "MS P Gothic", "メイリオ", "Meiryo", Osaka, sans-serif;
	font-weight: normal;
}
#top .content_2 {
	min-height: 110px;
	margin-bottom: 30px;
}
#top .item {
	padding: 0px 4%;
	margin-bottom: 20px;
}
#top .item img {
	width: 30%;
}
#top .item .box {
	width: 65%;
	display: inline-block;
	vertical-align: top;
	margin-left: 3%;
	line-height: 1.5;
}
#top h3 {
	letter-spacing: 0.1em;
	color: #636363;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}
#top .head_line {
	color: #a2a2a2;
}
#top .day, #topics .day {
	display: inline-block;
	background-color: #36b26f;
	color: #fff;
	padding: 2px 8px;
	margin-top: 5px;
	letter-spacing: 0.1em;
	font-family: "ヒラギノ角ゴ Pro W3", "Hiragino Kakugo Pro W3", Helvetica, Verdana, "ＭＳ Ｐゴシック", "MS P Gothic", "メイリオ", "Meiryo", Osaka, sans-serif;
}
#top td a, #topics td a {
	border-bottom: dotted 1px #a5d8c7;
	color: #636363;
}
#top ul li a, #topics ul li a {
	display: block;
}
/*
news
*/

#news h2, #topics h2 {
	padding: 5px 0px;
	color: #36b26f;
	background-color: #f6f4f4;
	text-align: center;
}
#news a, #topics a {
	border-bottom: 1px solid #EEE;
	display: block;
}
#news img, #topics img {
	width: 25%;
	vertical-align: middle;
}
#news .date, #topics .date {
	display: inline-block;
	vertical-align: middle;
	width: 44px;
	margin-left: 5px;
	margin-right: 7px;
	color: #636363;
}
#news .month, #news_detail .month, #topics .month {
	font-size: 10px;
	text-align: center;
}
#news .day, #news_detail .day {
	font-size: 38px;
	text-align: center;
	font-family: "ヒラギノ角ゴ Pro W3", "Hiragino Kakugo Pro W3", Helvetica, Verdana, "ＭＳ Ｐゴシック", "MS P Gothic", "メイリオ", "Meiryo", Osaka, sans-serif;
}
#news .caption, #topics .caption {
	width: 51%;
	display: inline-block;
	vertical-align: middle;
	line-height: 1.5;
}
#news .caption p, #news_detail .caption p, #company .caption p, #topics .caption p {
	font-family: "ヒラギノ角ゴ Pro W3", "Hiragino Kakugo Pro W3", Helvetica, Verdana, "ＭＳ Ｐゴシック", "MS P Gothic", "メイリオ", "Meiryo", Osaka, sans-serif;
	color: #999;
}
#news h3 {
	color: #36b26f;
	font-weight: bold;
	font-size: 13px;
	letter-spacing: 0.1em;
}
/*
news_detail
*/

#news_detail img {
	width: 100%;
}
#news_detail .text {
	line-height: 1.8;
	padding: 4%;
	margin-bottom: 20px;
}
#news_detail .text a {
	color: #36b26f;
	border-bottom: dotted 1px #a5d8c7;
}
#news_detail #title, #company #title {
	background-color: #f6f4f4;
	padding: 10px 4%;
}
#news_detail .date {
	display: inline-block;
	vertical-align: middle;
	width: 44px;
	color: #636363;
}
#news_detail h3 {
	letter-spacing: 0.1em;
	font-size: 15px;
	color: #36b26f;
	font-weight: bold;
	line-height: 1.4;
}
#news_detail .caption {
	margin-left: 4%;
	width: 80%;
	display: inline-block;
	vertical-align: middle;
	line-height: 1.5;
}
/*
company
*/

#company {
}
#company h3 {
	letter-spacing: 0.1em;
	font-size: 15px;
	color: #36b26f;
}
#company .caption {
	display: inline-block;
	vertical-align: middle;
	line-height: 1.5;
}
#company table {
	width: 100%;
	color: #636363;
}
#company tbody {
	width: 100%;
	display: block;
	line-height: 1.8;
	margin-bottom: 20px;
}
#company table tr {
	border-bottom: 1px solid #EEE;
}
#company table th {
	text-align: left;
	color: #868585;
	font-family: "ヒラギノ角ゴ Pro W3", "Hiragino Kakugo Pro W3", Helvetica, Verdana, "ＭＳ Ｐゴシック", "MS P Gothic", "メイリオ", "Meiryo", Osaka, sans-serif;
	font-weight: normal;
	width: 30%;
	padding: 10px 4%;
}
#company table td {
	text-align: right;
	border-bottom: 1px solid #EEE;
	width: 71%;
	padding: 10px 4%;
}
#company table .fa {
	margin-right: 5px;
	color: #36b26f;
}
#company table a {
	border-bottom: dotted 1px #a5d8c7;
	color: #36b26f;
}
/*
info
*/

#info h2 {
	padding: 10px 0px;
	color: #636363;
	background-color: #f6f4f4;
	padding-left: 4%;
	letter-spacing: 0.1em;
}
#info p {
	letter-spacing: 0.1em;
}
#info .not_link {
	color: #636363;
	display: block;
	padding: 15px 4%;

}
#info a {
	color: #636363;
	display: block;
	padding: 15px 4%;
}
#info hr {
	border-top: 1px solid #EEE;
	margin: 0;
	border-bottom: none;
}
#info .fa-angle-right {
	text-align: right;
	float: right;
	font-size: 21px;
	color: #636363;
	margin-top: -5px;
}

/*
info_checkbox
*/
input[type="checkbox"]{
  -webkit-appearance: none;
  width:20px;
  height:20px;
  margin-top: -1px;
  border:2px solid #636363;
  border-radius:4px;
  background:transparent;
  background-color: #f6f4f4;
  opacity:0.7;
  float:right;
}
input[type="checkbox"]:checked{
     background-color:#f6f4f4;
     background-image:url(http://mc.i-post.jp/nagazoe/spost/common/images/check.png);
     background-size:cover;
     opacity:1;
	 float:right;
}


/*
segments
*/

#segments h2 {
	letter-spacing: 0.1em;
	font-size: 16px;
	color: #36b26f;
	text-align: center;
	margin-top: 6%;
	line-height: 1.5;
}
#segments p {
	padding: 6% 4% 8%;
	line-height: 1.8;
}
#segments a {
	border-bottom: dotted 1px #a5d8c7;
	color: #36b26f;
}
#segments h3 {
	font-family: "ヒラギノ角ゴ Pro W3", "Hiragino Kakugo Pro W3", Helvetica, Verdana, "ＭＳ Ｐゴシック", "MS P Gothic", "メイリオ", "Meiryo", Osaka, sans-serif;
	color: #999;
	text-align: center;
	font-weight: normal;
	letter-spacing: 2;
	margin-top: 5px;
}
#segments .cover {
	background-image: url("../images/segments/seg_image_2.png");
	min-height: 80px;
	width: 100%;
	-moz-background-size: cover;
	background-size: cover;
}
#segments #ceo_img {
	text-align: center;
	padding: 0;
	line-height: normal;
}
#segments #ceo_img img {
	border: 1px solid #fff;
	margin-top: -60px;
	width: 110px;
}
/*
topics
*/
#topics h3 {
	letter-spacing: 0.1em;
	color: #636363;
	font-size: 13px;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}
#topics .item .box {
	width: 65%;
	display: inline-block;
	vertical-align: top;
	margin-left: 3%;
	line-height: 1.3;
	vertical-align: middle;
}
#topics .head_line {
	color: #a2a2a2;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	margin-top: 2px;
}
/*
foot
*/

#foot {
	text-align: center;
	font-size: 10px;
	color: #A3A3A3;
	background-color: #3D3D3D;
	padding: 30px 0px 35px;
}
#foot a {
	border-bottom: dotted 1px #a5d8c7;
	color: #A3A3A3;
}
