@charset "utf-8";
/* CSS Document */



/*
garally
*/



#garally {
	min-height: 400px;
	background-color: #000;
	text-align:center;
	margin-top:1.0%;
	margin-bottom:3.2%;
}

.garally img{
	text-align:center;
	margin-top:3.2%;
	margin-left:1.28%;
	margin-right:1.28%;
}


#garally .button img{
	background-color: #000;
	text-align:center;
	margin-top:8.0%;
	margin-left:3.0%;
	margin-right:3.0%;
	margin-bottom:3.2%;
}

#garally .button2 img{
	background-color: #000;
	text-align:center;
	margin-top:2.0%;
	margin-left:3.0%;
	margin-right:3.0%;
	margin-bottom:3.2%;
}


#garally .garally_main img{
    width:100%;
}


#garally .txt{
	padding-top:5%;
    color:white;
}