@charset "utf-8";
/* CSS Document */

body {
	min-height: 500px;
}
img {
	vertical-align: text-bottom;
}
.w_100 {
	width: 100%;
}
.mr_20 {
	margin-right: 20px;
}
.ml_20 {
	margin-left: 20px;
}
.no_data {
	text-align: center;
	padding: 50px;
}
/*
result
*/

#result {
	background-color: #000;
}
#result .item {
	margin: 10px 10px 0px 10px;
	min-height: 160px;
	background-color: #000;
}
#result .box {
	color: #fff;
}
#result .wrap {
	margin: 0 auto;
	text-align: center;
	width: 280px;
	padding-bottom: 20px;
}
#result .win_right {
	background: url(../images/result/background/background_win_right.png) no-repeat;
	background-position: 54% 50%;
}
#result .draw {
	background: url(../images/result/background/background_draw.png) no-repeat;
	background-position: 54% 50%;
}
#result .win_left {
	background: url(../images/result/background/background_win_left.png) no-repeat;
	background-position: 54% 50%;
}
#result .win_left .score_left, #result .win_right .score_right {
	color: #fcff00;
}
#result .score_left, #result .score_right {
	display: inline-block;
}
#result .score_left p, #result .score_right p {
	text-align: center;
	font-size: 17px;
	margin-top: 5px;
}
#result .score_left img, #result .score_right img {
	height: 50px;
}
#result .score_left {
	margin-top: 30px;
}
#result .score_right {
	padding-left: 95px;
}
#result .tdp_l .score_left {
	margin-left: -15px;
}
#result .tdp_l .score_right {
	padding-left: 85px;
}
#result .tdp_r .score_left {
	margin-left: 11px;
}
#result .tdp_r .score_right {
	padding-left: 84px;
}
#result .schedule {
	width: 95%;
	background-image:url(../images/ticket/bar_subtitle.png);
	background-repeat: repeat-x;
	background-size:cover;
	margin: 0 auto;
	margin-top: 10px;
}
#result .schedule p {
	color: white;
	padding: 5px;
	padding-left: 66px;
}
#result .schedule img {
	float: left;
	height: 24px;
}
/*
team_member
*/
#team_member img {
	width: 100%;
}
/*
team_member_detail
*/

#team_member_detail {
	background-color: #000;
	color: #fff;
}
#team_member_detail .item {
	padding: 4% 4% 5% 4%;
	font-size: 15px;
}
#team_member_detail table {
	width: 100%;
	border-bottom: 1px dashed #424242;
}
#team_member_detail .td {
	background:url(../images/arrow/arrow_icon.png) no-repeat;
	width: 110px;
	background-position: 73px;
	background-size: 24px;
	line-height: 3;
}
#team_member_detail tr {
	border-top: 1px dashed #424242;
}
/*
sponsor
*/
#sponsor {
	background: url(../images/sponsor/background_image.png) no-repeat;
	background-position: 100%;
	background-color: #000;
	color: #fff;
	min-height: 500px;
}
#sponsor .item {
	padding: 4%;
}
#sponsor .box {
	min-height: 117px;
	border-bottom: 1px dashed #424242;
	padding-bottom: 4%;
	padding-top: 4%;
}
#sponsor .box img {
	float: left;
}
#sponsor .app_info {
	margin-left: 130px;
	line-height: 1.5;
}
#sponsor .app_name {
	background:url(../images/arrow/arrow_icon.png) no-repeat;
	background-position: 63px;
	background-size: 25px;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	-webkit-text-overflow: ellipsis;
	-o-text-overflow: ellipsis;
}
#sponsor .app_name a {/*リンクされた文字*/
	color: rgb(110, 90, 218);
	text-decoration: none;
	margin-left: 35px;
}
