
<script type="text/javascript">
var switch_flg = false;
$("#likeButtonImage").click(function(){
	if (!switch_flg) {
		$("#likeButtonImage").attr("src", "/assets/img/common/btn_good_off.png");
		switch_flg = false;
	}
});
{literal}
function sendGood(token, id, newsId)
{
	console.log("token = " + token + "  id = " + id + "   newsID = " + newsId);
	var data = {"news_id" : newsId, "token" : token};
	$.ajax({
		type : "POST",
		url  : "http://tapi.spost.jp/news/cnt/" + id + "/",
		data : data,
		success : function(data, dataType)
		{
			console.log(data);
			$('.count').text(data);           	
			$('#likeButtonImage').attr('onClick','').unbind('click');
		},
		error: function(XMLHttpRequest, textStatus, errorThrown) 
		{
			alert('いいねの送信に失敗しました。');
        },
       	complete : function(data) {}
	});
}
{/literal}
</script>
    </body>
</html>