<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=no">
    <link rel="stylesheet" type="text/css" href="/assets/css/team/{$TEAM->id()}/setting/style.css" media="all" />
    <link rel="stylesheet" type="text/css" href="/assets/css/team/{$TEAM->id()}/setting/font-awesome.min.css" media="all" />
    <script type="text/javascript" src="/assets/js/jquery-1.9.0.js"></script>
    <title>SPost</title>
</head>
<body>

